{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<h3>What it is...</h3>
<hr />
<p>Funf in a Box helps you create your own mobile sensing android app - no programming required. Simply connect your dropbox account, check off the data you want to collect, and the app (and later, your data) will appear in your Dropbox. Take the app, distribute it manually or through the Android Market for a study. Then forget about managing a server for data collection. It's all in your Dropbox. Wherever you are.</p>

<h3>One thing before you start...</h3>
<hr />
<p>This software is still in beta, so there are no guarantees it will work perfectly.  It's not our fault if you do anything stupid with Funf in a Box. So, if you get in trouble or do something idiotic then don't come complaining to us. </p>

<h3 class="warning">Warning</h3>
<hr />
<p class="warning">The current beta release of Funf In a Box has a security vulnerability that could allow a user of a your app access to your other users' data. Until fixed, it is recommended that you do not use Funf In a Box for large scale studies where you do not control the devices or trust the participants. This is not a cross app issue.</p>

<p class="link">If you have any questions, more information is available on the <a target="_blank" href="{% url studywizard.views.app_info %}">Info page</a>.  Otherwise, go ahead and...</p>

<p class="centeredLink"><a href="{% url studywizard.views.app_create %}">Get Started!</a></p>
{% endblock %}
