{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<h3>You are reading this, right?</h3>
<hr />
This software is still in beta, so there are no guarantees it will work perfectly. It's not our fault if you do anything stupid with Funf in a Box. So, if you get in trouble or do something idiotic then don't come complaining to us. And in legal speak I think that translates to the following:

<h3>Terms and Conditions</h3>
<hr />
The following outlines the binding terms and conditions when using Funf In a Box.

<h3>1. Disclaimer of Warranty.</h3>
<hr />
THERE IS NO WARRANTY FOR THE PROGRAM AND SERVICE DESCRIBED ON THIS PAGE, TO THE EXTENT PERMITTED BY APPLICABLE LAW. EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT HOLDERS AND/OR OTHER PARTIES PROVIDE THE PROGRAM AND SERVICE “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM IS WITH YOU. SHOULD THE PROGRAM PROVE DEFECTIVE, YOU ASSUME THE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.<br /><br />

<h3>2. Limitation of Liability.</h3>
<hr />
IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS THE PROGRAM OR SERVICE AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM OR SERVICE (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE OF THE PROGRAM OR SERVICE TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.<br /><br />

<h3>3. Interpretation of Sections.</h3>
<hr />
If the disclaimer of warranty and limitation of liability provided above cannot be given local legal effect according to their terms, reviewing courts shall apply local law that most closely approximates an absolute waiver of all civil liability in connection with the Program or Service, unless a warranty or assumption of liability accompanies a copy of the Program or Service in return for a fee.

{% endblock %}
