{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
    <hr />

    <h3>Your app order has been received!</h3>
    <p>Cody put your app in the oven at {{ current_time }}. Give us a little while (15 or so minutes) and Alan will package everything up and put it in your Dropbox.</p>
    
    <p>You can find your app folder in &quot;Dropbox/Apps/Funf In A Box/&quot;.  For more information check out the <a href="{% url studywizard.views.app_info %}">Info page</a>.</p>

	<p class="centeredLink"><a href="http://funf.org">Congratulations!</a></p>
	
	<div align="center">
	<img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" 
			alt="Powered by Google App Engine" />
	<a href="http://www.djangoproject.com/" target="_blank"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
	</div>
{% endblock %}
